---
import "../../style/global.css";
import BlogPostPreview from "../../components/BlogPostPreview.astro";
import TheoHeaderImage from "../../components/theo-header-image.astro";


const siteTitle = "Theo's Blog";
const description = "Thought dumps and nerdy stuff";

// Data Fetching: List all Markdown posts in the repo.

const allPosts = await Astro.glob("../../content/posts/*.md");
const sortedPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
);
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="twitter:image" content="https://t3.gg/images/twitter.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@t3dotgg" />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://t3.gg/images/twitter.png" />
    <title>{siteTitle}</title>
    <meta name="theme-color" content="#000000" />

    <script defer data-domain="astro.t3.gg" src="https://t3.gg/js/script.js"
    ></script>
  </head>
  <body style="background-color: rgba(247, 242, 254, 1)">
    <main>
      <div class="absolute right-0 z-10 p-4 text-xl font-bold text-right">
        <a href="https://www.youtube.com/c/theobrowne1017">Youtube</a>
        <br />
        <a href="https://twitter.com/t3dotgg">Twitter</a>
        <br />
        <a href="/links">More</a>
      </div>
      <div
        class="flex flex-col items-center w-full h-full page"
      >
        <div class="w-48 mt-8"><TheoHeaderImage /></div>
        <h1 class="pt-2 text-4xl font-bold">Theo's Blog</h1>
        <h2 class="px-8 text-xl text-center xl:px-0">
          I write about tech and content creation. It usually goes to Twitter.
          Sometimes it goes here instead :)
        </h2>
        <div
          class="grid w-full grid-cols-1 gap-4 p-4 lg:grid-cols-2 lg:p-8 xl:gap-8"
        >
          {sortedPosts.map((p) => <BlogPostPreview post={p} />)}
        </div>
      </div>
    </main>
  </body>
</html>

<style>
  .page {
    background-color: rgba(247, 242, 254, 1);
    background-image: url("/images/bg-texture.png");
  }
  a {
    @apply text-black;
  }
</style>
