---
import "../../style/global.css";

import BlogPostPreview from "../../components/BlogPostPreview.astro";

const siteTitle = "Theo&apos;s Blog";
const description = "Thought dumps and nerdy stuff";

// Data Fetching: List all Markdown posts in the repo.
const allPosts = Astro.fetchContent<{ date: string }>("./posts/*.md").sort(
  (a, b) =>
    (new Date(b.date) as unknown as number) -
    (new Date(a.date) as unknown as number)
);
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="twitter:image" content="https://t3.gg/images/twitter.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@t3dotgg" />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://t3.gg/images/twitter.png" />
    <title>{siteTitle}</title>
    <meta name="theme-color" content="#000000" />

    <script defer data-domain="astro.t3.gg" src="https://t3.gg/js/script.js"
    ></script>
  </head>
  <body>
    <main>
      <div
        class="w-full h-full overflow-y-scroll flex flex-col items-center page">
        <div class="max-w-full lg:w-[42rem] xl:w-[64rem] px-4 lg:px-0">
          <div class="text-xl pt-8">Theo's Blog</div>
          {allPosts.map((p) => <BlogPostPreview post={p} />)}
        </div>
      </div>
    </main>
  </body>
</html>

<style>
  html,
  body {
    background-color: rgba(247, 242, 254, 1);
    height: 100%;
  }
</style>
