---
import "../style/global.css";
const siteTitle = "Theo Browne - T3 Stack, Ping.gg, YouTuber";
const description =
  "Theo is known for a few things. Creator of the T3 Stack. CEO of Ping.gg. Alum of Twitch, Y Combinator and RPI. Your Favorite Dev's Favorite Youtuber.";

import T3SVG from "../components/t3.astro";
import Youtubesvg from "../assets/platforms/youtube.svg.astro";
import Twittersvg from "../assets/platforms/twitter.svg.astro";
import Twitchsvg from "../assets/platforms/twitch.svg.astro";
import Discordsvg from "../assets/platforms/discord.svg.astro";
import Githubsvg from "../assets/platforms/github.svg.astro"

import {ViewTransitions} from 'astro:transitions';
---

<html lang="en">
  <head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="twitter:image" content="https://t3.gg/images/twitter.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@t3dotgg" />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://t3.gg/images/twitter.png" />
    <title>{siteTitle}</title>
    <meta name="theme-color" content="#000000" />

    <script defer data-domain="astro.t3.gg" src="https://t3.gg/js/script.js"
    ></script>
  </head>
  <body class="h-screen bg-gradient-to-b from-[#300171] to-gray-900">
    <main>
      <div
        class="flex h-screen w-full items-center justify-center p-4 align-middle text-slate-200"
      >
        <div
          class="grid grid-cols-1 md:grid-cols-[1fr_auto] grid-rows-2 md:grid-rows-[1fr]"
        >
          <T3SVG />
          <div class="px-4 py-4 text-center md:py-0 md:text-left">
            <h1 class="text-2xl font-bold leading-none">T3 Stuff</h1>
            <a href="https://create.t3.gg">
              <h3 class="text-xl">Create T3 App</h3>
            </a>

            <h1 class="text-2xl font-bold">Theo's Stuff</h1>
            <a href="https://t3.gg/faq">
              <h3 class="text-xl">FAQ</h3>
            </a>
            <a href="/blog">
              <h3 class="text-xl">Blog</h3>
            </a>

            <h1 class="text-2xl font-bold">Support Theo</h1>
            <a href="https://patreon.com/t3dotgg">
              <h3 class="text-xl">Patreon</h3>
            </a>
            <a href="https://shop.t3.gg/">
              <h3 class="text-xl">Shop</h3>
            </a>
          </div>
        </div>

        <div class="absolute bottom-0 flex h-16 gap-6 p-4 text-slate-200">
          <a
            href="https://youtube.com/@t3dotgg"
            class="flex gap-2 align-baseline"
          >
            <Youtubesvg />
            <span class="hidden md:block">YouTube</span>
          </a>

          <a
            href="https://twitter.com/t3dotgg"
            class="flex gap-2 align-baseline"
          >
            <Twittersvg />
            <span class="hidden md:block">Twitter</span>
          </a>

          <a href="https://twitch.tv/theo" class="flex gap-2 align-baseline">
            <Twitchsvg />
            <span class="hidden md:block">Twitch</span>
          </a>

          <a href="https://discord.com/invite/xHdCpcPHRE" class="flex gap-2 align-baseline">
            <Discordsvg />
            <span class="hidden md:block">Discord</span>
          </a>

          <a href="https://github.com/t3dotgg" class="flex gap-2 align-baseline">
            <Githubsvg />
            <span class="hidden md:block">Github</span>
          </a>
        </div>
      </div>
    </main>
  </body>
</html>

<style>
  .title {
    font-family: "Inter", sans-serif;
  }
  a {
    @apply text-slate-200 hover:text-slate-100 hover:underline;
  }

  /* background */
  main {
    position: relative;
    overflow: hidden;
  }
  /* Create the animation */
  @keyframes breathing {
    0% {
      opacity: 0.3;
    }
    50% {
      opacity: 0.03;
    }
    100% {
      opacity: 0.3;
    }
  }

  main::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background-image: url("data:image/svg+xml,%3Csvg width='100%' height='100%' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23300171' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");

    transform: rotate(180deg);

    /* animate opacity */
    animation: breathing 15s ease-in-out infinite;
  }
</style>
