---
import "../style/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const siteTitle = "theo - builder who's also on youtube";
const description =
  "theo (aka t3, t3dotgg) is a youtuber/ceo/dev. built t3 chat, ping.gg, t3 stack and more.";

const links = [
  {
    href: "https://t3.chat",
    label: "t3 chat",
    description: "the best ai chat app ever made",
    target: "_blank",
  },
  {
    href: "https://youtube.com/@t3dotgg",
    label: "youtube",
    description: "nerdy videos about software dev stuff",
    target: "_blank",
  },
  {
    href: "https://youtube.com/@theorants",
    label: "other youtube",
    description: "nerdy videos about audio/video, apple and other stuff",
    target: "_blank",
  },
  {
    href: "https://create.t3.gg",
    label: "create t3 app",
    description: "the best way to use the t3 stack",
    target: "_blank",
  },
  { href: "/blog", description: "random thoughts about things", label: "blog" },
  {
    href: "/sponsors",
    description: "all of the brands running ads on my youtube channel",
    label: "sponsors",
  },
];
---

<BaseLayout title={siteTitle} description={description}>
  <div
    class="container mx-auto grid grow place-items-center px-4 py-6 sm:py-12"
  >
    <div>
      <div>
        <p class="mb-12 max-w-xl text-center text-2xl">
          hi, i'm theo. i make things. mostly code and videos. you're probably
          here for one of these things...
        </p>
      </div>
      <div
        class="mx-auto flex w-full max-w-md grow flex-col items-center space-y-6"
      >
        {
          links.map((link) => (
            <a
              href={link.href}
              target={link.target}
              class="group border-foreground/60 hover:bg-foreground/60 hover:text-background relative w-full border py-3 text-center transition-colors duration-300 ease-out"
            >
              <span class="text-lg">{link.label}</span>
              <span class="text-foreground/60 group-hover:text-background/90 block text-sm transition-colors">
                {link.description}
              </span>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</BaseLayout>
