---
import "../style/global.css";
const siteTitle = "theo's sponsors";
const description = "all of the brands running ads on my youtube channel";

const affiliates = [
  {
    name: "eight sleep",
    image: "/assets/sponsors/eight-sleep.svg",
    description: "Turn any bed into the ultimate sleeping experience",
    link: "https://soydev.link/eightsleep",
  },
  {
    name: "superhuman",
    image: "/assets/sponsors/superhuman.png",
    description: "The best email client on the market.",
    link: "https://soydev.link/superhuman",
  },
  {
    name: "boot.dev",
    image: "/assets/sponsors/bootdev.png",
    description: "The best way to learn backend",
    link: "https://soydev.link/bootdev",
  },
  {
    name: "code crafters",
    image: "/assets/sponsors/code-crafters.svg",
    description:
      "The best place to learn modern frontend development. Frontend Masters is a platform for learning modern frontend development with React, Vue, and Svelte.",
    link: "https://soydev.link/codecrafters",
  },
];

const sponsors = [
  {
    name: "infinite red",
    image: "/assets/sponsors/infinite-red.svg",
    description:
      "My favorite consulting company. A group of US based React Native experts.",
    link: "https://soydev.link/infinitered",
  },
  {
    name: "sevalla",
    image: "/assets/sponsors/sevalla.svg",
    description: "Vercel for everyone else.",
    link: "https://soydev.link/sevalla",
  },
  {
    name: "posthog",
    image: "/assets/sponsors/posthog.svg",
    description:
      "The single platform to analyze, test, observe, and deploy new features",
    link: "https://soydev.link/posthog",
  },
  {
    name: "coderabbit",
    image: "/assets/sponsors/code-rabbit.svg",
    description: "The AI code reviewer that's actually good.",
    link: "https://soydev.link/coderabbit",
  },
  {
    name: "blacksmith",
    image: "/assets/sponsors/blacksmith.svg",
    description: "GitHub Actions. Twice as fast. Half the cost.",
    link: "https://soydev.link/blacksmith",
  },
  {
    name: "vapi",
    image: "/assets/sponsors/vapi.png",
    description:
      "Voice AI for developers. Vapi lets developers build, test and deploy voice agents in minutes rather than months.",
    link: "https://soydev.link/vapi",
  },
  {
    name: "notion",
    image: "/assets/sponsors/notion.svg",
    description: "The best productivity tool on the market.",
    link: "https://soydev.link/notion",
  },
  {
    name: "graphite",
    image: "/assets/sponsors/graphite.svg",
    description:
      "The AI-powered pull request toolchain. Graphite helps teams on GitHub ship higher quality software, faster",
    link: "https://soydev.link/graphite",
  },
  {
    name: "g2i",
    image: "/assets/sponsors/g2i.svg",
    description:
      "G2i is the video based platform for hiring contract or full time engineers.",
    link: "https://soydev.link/g2i",
  },
  {
    name: "ag grid",
    image: "/assets/sponsors/ag-grid.svg",
    description: "The best data grid for React.",
    link: "https://soydev.link/ag-grid",
  },
  {
    name: "convex",
    image: "/assets/sponsors/convex.svg",
    description:
      "Open source reactive database for web developers. It's what firebase should have been.",
    link: "https://soydev.link/convex",
  },
  {
    name: "ahrefs",
    image: "/assets/sponsors/ahrefs.svg",
    description: "The best SEO tool on the market.",
    link: "https://soydev.link/ahrefs",
  },
  {
    name: "zephyr cloud",
    image: "/assets/sponsors/zephyr.svg",
    description:
      "The only sane way to do micro-frontends. Zephyr is a cloud-agnostic, framework-agnostic platform for lightning fast deployment with best-in-class support for micro-frontends and module federation.",
    link: "https://soydev.link/zephyr",
  },
  {
    name: "bolt.new",
    image: "/assets/sponsors/bolt-new.svg",
    description: "The easiest way to build your next big idea.",
    link: "https://soydev.link/bolt",
  },
  {
    name: "clerk",
    image: "/assets/sponsors/clerk.svg",
    description: "The easiest way to add authentication to your react app.",
    link: "https://soydev.link/clerk",
  },
  {
    name: "browserbase",
    image: "/assets/sponsors/browserbase.svg",
    description: "Web browser for your ai. Like puppeteer, but better.",
    link: "https://soydev.link/browserbase",
  },
  {
    name: "unkey",
    image: "/assets/sponsors/unkey.svg",
    description:
      "Unkey is an open-source API key management platform that allows you to create, manage, and monitor API keys for your applications.",
    link: "https://soydev.link/unkey",
  },

  {
    name: "frontend masters",
    image: "/assets/sponsors/frontend-masters.svg",
    description:
      "The best place to learn modern frontend development. Frontend Masters is a platform for learning modern frontend development with React, Vue, and Svelte.",
    link: "https://soydev.link/masters",
  },
  {
    name: "payload",
    image: "/assets/sponsors/payload.svg",
    description:
      "The best headless CMS for React, especially if you're using Next.js.",
    link: "https://soydev.link/payload",
  },
  {
    name: "singlestore",
    image: "/assets/sponsors/singlestore.svg",
    description:
      "The only database you'll ever need. Scale from one to one million customers, handling SQL, JSON, full text and vector workloads — all in one unified platform.",
    link: "https://soydev.link/singlestore",
  },
  {
    name: "fal",
    image: "/assets/sponsors/fal.svg",
    description: "Generative media platform for developers.",
    link: "https://soydev.link/fal",
  },
  {
    name: "ragie ai",
    image: "/assets/sponsors/ragie.svg",
    description:
      "RAG-as-a-Service for developers. Fully managed, fully connected.",
    link: "https://soydev.link/ragie",
  },
  {
    name: "agora",
    image: "/assets/sponsors/agora.png",
    description:
      "Conversational AI · Video · Voice · Chat: Flexible APIs supported by the only global network engineered for live interaction.",
    link: "https://soydev.link/agora",
  },
  {
    name: "bright data",
    image: "/assets/sponsors/bright-data.svg",
    description:
      "The best proxy network for developers. Bright Data is a proxy network that allows you to scrape the web, crawl the web, and access the web.",
    link: "https://soydev.link/brightdata",
  },
  {
    name: "appwrite",
    image: "/assets/sponsors/appwrite.svg",
    description:
      "Build your entire backend within minutes and scale effortlessly. Add Authentication, Databases, Functions, Storage, and Messaging to your projects using the frameworks and languages of your choice",
    link: "https://soydev.link/appwrite",
  },
  {
    name: "netlify",
    image: "/assets/sponsors/netlify.svg",
    description:
      "Deploy any modern frontend stack, from marketing sites to AI apps. Join millions of developers and teams shipping faster on Netlify.",
    link: "https://soydev.link/netlify",
  },
  {
    name: "prisma postgres",
    image: "/assets/sponsors/prisma.svg",
    description:
      "Deploy a Postgres database in 3 clicks — free to start, no setup, no commitments. Easily grow your database as your app scales and only pay when you grow out of our generous free tier.",
    link: "https://soydev.link/prismadb",
  },
];
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="twitter:image" content="https://t3.gg/images/twitter.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@t3dotgg" />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://t3.gg/images/twitter.png" />
    <title>{siteTitle}</title>
    <meta name="theme-color" content="#000000" />
  </head>
  <body class="h-screen bg-white text-black">
    <main>
      <header class="flex flex-col gap-2 px-8 pb-8 pt-8">
        <h1 class="text-4xl font-semibold">my sponsors</h1>
        <p>here's all the brands that have run ads on my content</p>
      </header>
      <section class="pb-16">
        <h2 class="px-8 pb-4 text-2xl font-semibold">affiliates</h2>
        <ul class="divide-y divide-gray-200">
          {
            affiliates.map((brand) => (
              <li class="px-4 py-8 transition duration-300 ease-in-out first:pt-4 last:pb-4 hover:bg-gray-50 md:px-12">
                <div class="flex flex-col items-center gap-4 md:flex-row md:space-x-6">
                  <div class="h-24 w-24 flex-shrink-0">
                    <img
                      src={brand.image || "/placeholder.svg"}
                      alt={brand.name}
                      width={96}
                      height={96}
                      class="h-full w-full object-contain"
                    />
                  </div>
                  <div class="m-0 flex-grow">
                    <h2 class="pb-2 text-2xl font-semibold text-gray-800">
                      {brand.name}
                    </h2>
                    <p class="pb-3 leading-relaxed text-gray-600">
                      {brand.description}
                    </p>
                    <a
                      href={brand.link}
                      class="inline-flex items-center text-sm text-purple-400 transition duration-300 ease-in-out hover:text-purple-600"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <span class="pr-2">learn more</span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-4 w-4"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width={2}
                          d="M14 5l7 7m0 0l-7 7m7-7H3"
                        />
                      </svg>
                    </a>
                  </div>
                </div>
              </li>
            ))
          }
        </ul>
      </section>

      <section>
        <h2 class="px-8 pb-4 text-2xl font-semibold">video sponsors</h2>

        <ul class="divide-y divide-gray-200">
          {
            sponsors.map((brand) => (
              <li class="px-4 py-8 transition duration-300 ease-in-out first:pt-4 last:pb-4 hover:bg-gray-50 md:px-12">
                <div class="flex flex-col items-center gap-4 md:flex-row md:space-x-6">
                  <div class="h-24 w-24 flex-shrink-0">
                    <img
                      src={brand.image || "/placeholder.svg"}
                      alt={brand.name}
                      width={96}
                      height={96}
                      class="h-full w-full object-contain"
                    />
                  </div>
                  <div class="m-0 flex-grow">
                    <h2 class="pb-2 text-2xl font-semibold text-gray-800">
                      {brand.name}
                    </h2>
                    <p class="pb-3 leading-relaxed text-gray-600">
                      {brand.description}
                    </p>
                    <a
                      href={brand.link}
                      class="inline-flex items-center text-sm text-purple-400 transition duration-300 ease-in-out hover:text-purple-600"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <span class="pr-2">learn more</span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-4 w-4"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width={2}
                          d="M14 5l7 7m0 0l-7 7m7-7H3"
                        />
                      </svg>
                    </a>
                  </div>
                </div>
              </li>
            ))
          }
        </ul>

        <div class="border-t border-gray-200 pb-24 pt-20 text-center">
          <h2 class="mb-6 text-2xl font-semibold text-gray-800">
            want to see the actual ads?
          </h2>
          <a
            href="https://www.youtube.com/@t3dotgg"
            class="inline-flex items-center justify-center rounded-md border border-gray-300 bg-white px-6 py-3 text-base font-medium text-gray-700 transition duration-300 ease-in-out hover:bg-gray-50"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="https://svgl.app/library/youtube.svg"
              alt="YouTube"
              width={20}
              height={20}
              class="h-5 w-5"
            />
            <span class="pl-2">my channel</span>
          </a>
        </div>
      </section>
    </main>
  </body>
</html>
