---
import type {MarkdownInstance} from "astro"
export interface Props {
  post: MarkdownInstance<{ date: string }>;
}

import BlogPostHeader from "./BlogPostHeader.astro";
import { Markdown } from 'astro/components';

const { post } = Astro.props;

console.log("post?", post);
---

<article
  class="prose prose-lg lg:prose-xl max-w-none w-full mb-8 lg:w-[42rem] xl:w-[64rem] relative max-h-[600px] overflow-hidden">
  <a href={post.url} class="no-line-link">
    <BlogPostHeader {post} />
  </a>
  <div><Markdown content={post.content} /></div>
  <div
    class="flex absolute bottom-0 w-full h-[200px] justify-center items-end preview-fade">
    <a class="font-medium no-line-link" href={post.url}>Continue Reading</a>
  </div>
</article>

<style>
  .preview-fade {
    background-image: linear-gradient(
      to bottom,
      rgba(247, 242, 254, 0),
      rgba(247, 242, 254, 1) 85%
    );
  }
</style>
