---
import "../../../style/global.css";
import BlogPostHeader from "../../../components/BlogPostHeader.astro";
import { getSlugFromPath } from "../../../utils/get-slug-from-path";
import { ViewTransitions } from "astro:transitions";

export async function getStaticPaths({ paginate, rss }) {
  const allPosts = await Astro.glob("../../../content/posts/*.md");

  const paths = allPosts.map((post) => {
    const slug = getSlugFromPath(post.file);
    return {
      params: {
        slug,
      },
      props: { post },
    };
  });

  return paths;
}

const { post } = Astro.props;
---

<html lang="en">
  <head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="description" content={post.frontmatter.description} />
    <meta name="twitter:image" content={post.frontmatter.imageURL} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@t3dotgg" />
    <meta property="og:title" content={post.frontmatter.title} />
    <meta property="og:description" content={post.frontmatter.description} />
    <meta property="og:image" content={post.frontmatter.imageURL} />
    <meta name="theme-color" content="#000000" />
    <title>{post.frontmatter.title}</title>

    <script defer data-domain="astro.t3.gg" src="https://t3.gg/js/script.js"
    ></script>
  </head>
  <body class="bg-theo-purple/40">
    <div class="page flex h-full w-full justify-center">
      <div class="max-w-full px-4 pt-8 lg:w-[42rem] lg:px-0 xl:w-[64rem]">
        <a class="pt-8 text-xl" href="/blog">Theo's Blog</a>
        <article class="prose prose-lg max-w-none pb-10 lg:prose-xl">
          <main>
            <BlogPostHeader post={post.frontmatter} />
            <post.Content />
          </main>
        </article>
        <div class="pb-8">
          <a href="/blog">{"<- Back to Theo's blog"}</a>
        </div>
      </div>
    </div>
  </body><style>
    .page {
      background-image: url("/images/bg-texture.png");
    }

    a :global(a) {
      @apply my-1 appearance-none rounded-md py-2 text-blue-200 outline-none ring-theo-blue hover:underline focus:ring;
    }
  </style>
</html>
