---
export interface Props {
  content: {
    title: string;
    author: string;
    date: string;
    heroImage: string;
    description: string;
  };
}

import "../style/global.css";
import BlogPostHeader from "../components/BlogPostHeader.astro";
const { description, title } = Astro.props.content;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="twitter:image" content="https://t3.gg/images/twitter.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@t3dotgg" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://t3.gg/images/twitter.png" />
    <title>{title}</title>

    <script defer data-domain="astro.t3.gg" src="https://t3.gg/js/script.js"
    ></script>
  </head>
  <div class="w-full h-full overflow-y-scroll flex justify-center">
    <div class="max-w-full lg:max-w-[40rem] px-4 lg:px-0">
      <div class="text-xl pt-8">Theo's Blog</div>
      <article class="prose prose-lg lg:prose-xl pb-10">
        <main>
          <BlogPostHeader post={Astro.props.content} />
          <slot />
        </main>
      </article>
    </div>
  </div>
</html>

<style>
  html,
  body {
    background-color: rgba(247, 242, 254, 1);
    height: 100%;
  }
</style>
